@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Saira:wght@400;500;800&display=swap');
/* 
font-family: 'Orbitron', sans-serif;
font-family: 'Saira', sans-serif; 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  max-width: 1000px;
  margin: auto;
  font-family: 'Saira', sans-serif;
  background-color: #213555;
  font-family: 'Saira', sans-serif; 
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 15px 0;
}
.header h2{
  font-size: 2rem;
  color:#F0F0F0;
  font-family: 'Orbitron', sans-serif;
  justify-self: start;
  letter-spacing: 2px;
}
.header a {
  background-color: #E5D283;
  justify-self: end;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.header a:hover{
  background-color: #4F709C;
  color: #F0F0F0;
}
.main{
  min-height: 85vh;
  color:#F0F0F0;
  margin: 20px auto;
}
.footer{
  color: #F0F0F0;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;

}
.form{

  display: flex;
  flex-direction: column;

}

.form label {
  margin: 20px 0 5px;
}
.form input {
  
  outline: none;
  color: #213555;
  padding: 10px;
  border-radius: 5px;
  background-color: #F0F0F0;
}
.addCustomer-container {
  margin-top: 50px;
}
.add-custome-h{
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 20px 0;
}
.item-list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #4F709C;
  padding: 20px;
  border-radius: 10px;
}
.item-list p {
  font-weight: 500;
  letter-spacing: 2px;
}
 .addBtn {
  width: 100%;
  font-size: 1rem;
  margin: 20px auto 10px;
  background-color: transparent;
  border: 2px solid #83e5ac;
  color: #83e5ac;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.addItem{
  display: flex;
  flex-direction: column;

}
.addItem-detial{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.removeBtn{
  border: 2px solid red;
  width: 100%;
  font-size: 1rem;
  margin: 20px auto 10px;
  background-color: transparent;
  color: red;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.customer-page__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first {
  width: 100px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.first:hover{
  border: 2px solid #E5D283;
  color: #E5D283;
}
.second {
  width: 100px;
  background-color: transparent;
  border: 2px solid #83e5ac;
  color: #83e5ac;
  border-radius: 10px;
  cursor: pointer;
}
.home-container{
  margin-top: 50px;
}
.customer-list{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #4F709C;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}
.name-section{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.link-container{
  display: flex;
}
.edit-btn{
  padding: 0 20px;
  background-color: transparent;
  color: #83e5ac;
  border: 2px solid #83e5ac;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.delete-btn{
  padding: 5px 20px;
  background-color: transparent;
  color: #e58397;
  border: 2px solid #e58383;
  border-radius: 10px;
  cursor: pointer;
}
.detail-btn{
  padding: 0 20px;
  background-color: transparent;
  color: #E5D283;
  border: 2px solid #E5D283;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.editPage-container{
  margin-top: 50px;
}
.editPage-container h3 {
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.btnContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.saveBtn{
  width: 100px;
  background-color: transparent;
  border: 2px solid #83e5ac;
  color: #83e5ac;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}
.cancelBtn{
  width: 100px;
  background-color: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.detial-page__container{
  margin-top: 50px;
}
.detial-page__container h3{
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.customer-detail__main{
  margin-top: 50px;
  border: 2px solid #4F709C;
  padding: 20px;
  padding: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customer-detail__main span {
  font-size: 1.2rem;
  margin-right: 5px;
}
.customer-detail__main p {
  color: #E5D283;
}
.customer-detail__item{
  display: flex;
  border-radius: 5px;
  width: fit-content;
  margin: 20px 0;
  align-items: center;
}
.customer-detail__products {
  margin-top: 50px;
  border: 2px solid #4F709C;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customer-detail__products p {
  color: #F0F0F0;
  margin-bottom: 25px;
  text-align: center;
}
.customer-detail__products span{
  color: #E5D283;
  text-align: center;
}
.customer-detail__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #4F709C;
}
.customer-detail__buttons button {
  border: 1px solid #f0394b;
  color: #f0394b;
  background-color: transparent;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  width: 100px;
}
.customer-detail__buttons a {
  border: 1px solid #8af1aa;
  color: #8af1aa;
  background-color: transparent;
  padding: 2px;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100px;
  text-align: center;
}
@media (max-width: 600px) {
  .header{
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .header h2{
    font-size: 1.5rem;
    justify-self: center;
    margin: auto;
  }
  .header a {
    margin-top: 20px;
    background-color: #E5D283;
    justify-self: center;
    padding: 10px 20px;
    border-radius: 5px;
  
  }
  .customer-detail__main {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-container{
    margin: 10px;
  }
  .customer-list {
    max-width: 400px;
    flex-direction: column;
    margin: 30px auto;
  }
  .name-section{
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

  }
  .link-container{
    width: 70%;
    text-align: center;
    flex-direction: column;
  }
  .edit-btn{
    margin: 10px;
  }
  .detail-btn{
    margin: 10px;
  }
  .delete-btn{
    margin: 10px;
  }
}
